<header>
  <nav class="navbar navbar-expand-lg m-0 p-1">
    <div class="container-fluid d-flex">
      <button class="navbar-toggler" type="button" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation"  (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="#" class="col-6 col-lg-2">
        <div  class="d-flex align-items-center">
          <figure class="m-0 p-0 col-4">
            <figcaption class="d-flex justify-content-center">
              <img src="../../../../assets/LogoSimple.PNG" alt="Logo Rusticasa" class="text-center">
            </figcaption>
          </figure>

          <div class="d-flex justify-content-center flex-column">
            <h1 class="text-center m-0 p-0">RustiCasa</h1>
            <h2 class="text-center m-0 p-0">Hogares Naturales</h2>
          </div>
        </div>
      </a>

      <div class="dropdown order-lg-1 d-flex flex-column col-1 justify-content-center align-items-center" *ngIf="!datosUsu">
        <a href="#" class="d-flex flex-column align-items-center justify-content-center link-body-emphasis text-decoration-none " data-bs-toggle="dropdown" data-bs-target="#dropdown" aria-expanded="false"  (click)="toggleDropdown()">
          <img src="../../../../assets/defaultImg.jpg" width="40" height="40" class="rounded-circle">
          <p class="p-0 m-0">Inicia Sesión <i class="bi bi-caret-down-fill text-center"></i></p>
        </a>

        <ul class="dropdown-menu text-small posMen" id="dropdown">
          <li><a class="dropdown-item pt-1" [routerLink]="['/login']">Inicia Sesión</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" [routerLink]="['/register']">Registrate</a></li>
        </ul>
      </div>

      <div class="dropdown order-lg-1 d-flex flex-column col-1 justify-content-center align-items-center" *ngIf="datosUsu?.administrador">
        <a href="#" class="d-flex flex-column align-items-center justify-content-center link-body-emphasis text-decoration-none " data-bs-toggle="dropdown" data-bs-target="#dropdown" aria-expanded="false"  (click)="toggleDropdown()">
          <img src="../../../../assets/admin.png" width="40" height="40" class="rounded-circle">
          <p class="p-0 m-0">{{datosUsu.nickname}}<i class="bi bi-caret-down-fill text-center"></i></p>
        </a>

        <ul class="dropdown-menu text-small posMen" id="dropdown">
          <li><a class="dropdown-item pt-1" [routerLink]="['/']">Ver Usuarios</a></li>
          <li><a class="dropdown-item pt-1" [routerLink]="['/']">Ver Estadísticas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item pointer" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>

      <!--Perfil-->
      <div class="dropdown order-lg-1 d-flex flex-column col-1 justify-content-center align-items-center" *ngIf="datosUsu && !datosUsu?.administrador">
        <a href="#" class="d-flex flex-column align-items-center justify-content-center link-body-emphasis text-decoration-none " data-bs-toggle="dropdown" data-bs-target="#dropdown" aria-expanded="false"  (click)="toggleDropdown()">
          <img [src]="ruta" alt="tu foto de perfil" width="40" height="40" class="rounded-circle">
          <div class="d-flex flex-column flex-lg-row">
            <p class="p-0 m-0 truncate">{{datosUsu.nickname}}</p>
            <i class="bi bi-caret-down-fill text-center"></i>
          </div>
        </a>

        <ul class="dropdown-menu text-small posMen" id="dropdown">
          <li><a class="dropdown-item pt-1"[routerLink]="['/profile']">Ver tu perfil</a></li>
          <li><a class="dropdown-item pt-1" [routerLink]="['/upload-house']">Sube tu Casa</a></li>
          <li><a class="dropdown-item pt-1" [routerLink]="['/list-house-owner']">Ver tus Casas subidas</a></li>
          <li><a class="dropdown-item pt-1" [routerLink]="['/list-house-rent']">Ver tus reservas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item pointer" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>
      <!--FinPerfil-->

      <div class="collapse navbar-collapse order-0 col-auto" id="navToggle" *ngIf="datosUsu && !datosUsu?.administrador">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center justify-content-lg-between headerMen d-flex align-items-center">
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" aria-current="page" [routerLink]="['/welcome']" routerLinkActive="active"> <i class="bi bi-house-door"></i> Inicio</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/full-search']" routerLinkActive="active"> <i class="bi bi-search"></i> Búsquedas</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/upload-house']" routerLinkActive="active"> <i class="bi bi-house-up"></i> Publica tu Casa</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-person-lines-fill"></i> Contacta con nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-question-circle"></i> FAQs </a>
          </li>-->
        </ul>
      </div>

      <div class="collapse navbar-collapse order-0 col-auto" id="navToggle" *ngIf="datosUsu && datosUsu?.administrador">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center justify-content-lg-between headerMen d-flex align-items-center">
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" aria-current="page" [routerLink]="['/welcome']" routerLinkActive="active"> <i class="bi bi-house-door"></i> Inicio</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/']" routerLinkActive="active"> <i class="bi bi-search"></i> Administrar Casas</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/']" routerLinkActive="active"> <i class="bi bi-file-earmark-bar-graph-fill"></i> Estadísticas</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-person-lines-fill"></i> Contacta con nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-question-circle"></i> FAQs </a>
          </li>-->
        </ul>
      </div>

     <!-- <div class="col-12 col-lg-3 p-md-4" *ngIf="muestraBusqueda">
        <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="nombreCasa" placeholder="Buscar..." aria-placeholder="Buscar por nombre de casa">
            <button type="button" pButton pRipple (click)="buscarCasa()" icon="pi pi-search"></button>
        </div>
      </div>-->

    </div>
  </nav>


</header>

