<header>
  <nav class="navbar navbar-expand-lg m-0 p-1">
    <div class="container-fluid d-flex">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a href="#" class="col-6 col-lg-2">
        <div  class="d-flex align-items-center">
          <figure class="m-0 p-0 col-4">
            <figcaption class="d-flex justify-content-center">
              <img src="../../../../assets/LogoSimple.PNG" alt="Logo Rusticasa" class="text-center">
            </figcaption>
          </figure>

          <div class="d-flex justify-content-center flex-column">
            <h1 class="text-center m-0 p-0">RustiCasa</h1>
            <h2 class="text-center m-0 p-0">Hogares Naturales</h2>
          </div>
        </div>
      </a>

      <div class="dropdown order-lg-1 d-flex col-1 justify-content-center align-items-center">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../../../assets/defaultImg.jpg" alt="mdo" width="40" height="40" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small posMen">
          <li><a class="dropdown-item" href="#">Iniciar Sesión</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Registrarse</a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse order-0 col-auto" id="navToggle">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center justify-content-lg-between headerMen d-flex align-items-center">
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" aria-current="page" [routerLink]="['/welcome']" routerLinkActive="active"> <i class="bi bi-house-door"></i> Inicio</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/full-search']" routerLinkActive="active"> <i class="bi bi-search"></i> Búsquedas</a>
          </li>
          <li class="nav-item me-auto col-12 col-lg-3 text-center">
            <a class="nav-link transicion" [routerLink]="['/upload-house']" routerLinkActive="active"> <i class="bi bi-house-up"></i> Publica tu Casa</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-person-lines-fill"></i> Contacta con nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link transicion" href="#"> <i class="bi bi-question-circle"></i> FAQs </a>
          </li>-->
        </ul>
      </div>

      <div class="col-12 col-lg-3 p-md-4" *ngIf="muestraBusqueda">
        <div class="p-inputgroup">
            <input type="text" pInputText [(ngModel)]="nombreCasa" placeholder="Buscar..." aria-placeholder="Buscar por nombre de casa">
            <button type="button" pButton pRipple (click)="buscarCasa()" icon="pi pi-search"></button>
        </div>
      </div>

    </div>
  </nav>


</header>

