<div class="container-fluid" *ngIf="casa" id="fondo">
  <h1>Formulario Alquiler: {{casa.nombreCasa}}</h1>

  <div class="d-flex flex-column justify-content-center align-items-center altura">
    <div class="contenedor-cristalizado col-10">
      <p-steps styleClass="mt-3" [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

      <div class="d-flex flex-column justify-content-center" *ngIf="activeIndex === 0">
        <form [formGroup]="alquilaForm" (ngSubmit)="nextStep()">
          <div class="text-center col-12  p-1">
            <label for="cal" class="fs-4 text-start col-11 m-1">Introduzca la fecha: </label>

            <p-calendar id="cal" styleClass="col-11 text-center" placeholder="Fecha entrada - Fecha Salida" formControlName="fechas" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true" [numberOfMonths]="2"></p-calendar>

            <div *ngIf="alquilaForm.get('fechas').invalid && alquilaForm.get('fechas').touched" class="d-flex  justify-content-center m-3">
              <div *ngIf="alquilaForm.get('fechas').errors.required" class="col-12 text-danger rounded-4">
                <span class="fs-4">*La fecha es obligatoria</span>
              </div>
            </div>

            <!-- Mostrar el mensaje de error aquí -->
            <div *ngIf="errorMessage" class="text-danger">
              <span class="fs-4">{{ errorMessage }}</span>
            </div>
          </div>

          <div class="d-flex justify-content-around m-2">
            <button class="btn botonSec col-4" type="button" (click)="previousStep()" [disabled]="activeIndex === 0"><i class="bi bi-arrow-left"></i> Paso anterior </button>
            <button class="btn btn-success col-4" type="button" (click)="nextStep()" [disabled]="alquilaForm.invalid">Siguiente Paso <i class="bi bi-arrow-right"></i></button>
          </div>
        </form>
      </div>

      <div class="d-flex flex-column justify-content-center" *ngIf="activeIndex === 1">
        <form [formGroup]="alquilaForm2" (ngSubmit)="nextStep()">
          <div class="text-center col-12 p-1">
            <label for="cc" class="fs-4 text-start col-11">Datos tarjeta bancaria: </label>

            <input id="cc" type="text" pInputText name="cc" formControlName="inputDatosTarjeta" pInputText [pKeyFilter]="ccRegex" [pValidateOnly]="true" placeholder="xxxx-xxxx-xxxx-xxxx">

            <div *ngIf="alquilaForm2.get('inputDatosTarjeta').invalid && alquilaForm2.get('inputDatosTarjeta').touched" class="text-danger mt-2">
              <span class="fs-4" *ngIf="alquilaForm2.get('inputDatosTarjeta').errors.required">*El número de tarjeta es obligatorio</span>
              <span class="fs-4" *ngIf="alquilaForm2.get('inputDatosTarjeta').errors.pattern">*Formato de tarjeta inválido</span>
            </div>
          </div>

          <div class="text-center col-12 p-1">
            <label for="cvv" class="fs-4 text-start col-11">CVV: </label>

            <input id="cvv" type="text" pInputText name="cvv" formControlName="cvv" pInputText  placeholder="xxx">

            <div *ngIf="alquilaForm2.get('cvv').invalid && alquilaForm2.get('cvv').touched" class="text-danger mt-2">
              <span class="fs-4" *ngIf="alquilaForm2.get('cvv').errors.required">*El cvv es obligatorio</span>
              <span class="fs-4" *ngIf="alquilaForm2.get('cvv').errors.minlength">*mínimo 3 números</span>
              <span class="fs-4" *ngIf="alquilaForm2.get('cvv').errors.maxlength">*máximo 3 números</span>
            </div>
          </div>

          <div class="text-center col-12 p-1">
            <label for="dire" class="fs-4 text-start col-11">Dirección factura: </label>

            <input id="dire" type="text" pInputText name="dire" formControlName="direccion" pInputText  placeholder="C/Nueva 1">

            <div *ngIf="alquilaForm2.get('direccion').invalid && alquilaForm2.get('direccion').touched" class="text-danger mt-2">
              <span class="fs-4" *ngIf="alquilaForm2.get('direccion').errors.required">*La direccion es obligatoria</span>
            </div>
          </div>

          <div class="d-flex justify-content-around m-2">
            <button class="btn botonSec col-4" type="button" (click)="previousStep()"><i class="bi bi-arrow-left"></i> Paso anterior </button>
            <button class="btn btn-success col-4" type="button" (click)="rentHouse()" [disabled]="alquilaForm2.invalid">Confirmar y Alquilar casa <i class="bi bi-basket2-fill"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
