<div class="container-fluid">
  <!--<div class="p-inputgroup">
    <input
      type="text"
      pInputText
      [(ngModel)]="valorBusqueda"
      placeholder="Buscar..."
      aria-placeholder="Buscar por nombre de casa"
    />
    <button
      type="button"
      pButton
      pRipple
      (click)="cambiarParam()"
      icon="pi pi-search"
    ></button>
  </div>-->

  <form [formGroup]="formuReact" *ngIf="formuReact" (submit)="cambiarParam()">

    <input type="text" [formControl]="formuReact.controls['nombreCasa']" />
    <p-checkbox [formControl]="formuReact.controls['piscina']"></p-checkbox>
    <p-checkbox [formControl]="formuReact.controls['wifi']"></p-checkbox>
    <p-checkbox [formControl]="formuReact.controls['jardin']"></p-checkbox>
    <p-checkbox [formControl]="formuReact.controls['mascotas']"></p-checkbox>

    <button class="button" type="submit">Buscar</button>
    <button class="button" type="reset">Limpiar</button>
  </form>

  <div *ngIf="listaCasas.length != 0">
    <div *ngFor="let casa of listaCasas">
      <app-house [datosCasa]="casa"></app-house>
    </div>
  </div>
</div>
