<div class="container-fluid d-flex flex-column align-items-center justify-content-center" style="height: 100vh;" id="fondo">
  <h1 class="text-light outline fuenteTitulo">Registro de Usuario</h1>

  <form [formGroup]="registerForm" class="col-lg-6 p-2 col-10 rounded border border-1 d-flex flex-column justify-content-around align-items-center contenedor-cristalizado" (ngSubmit)="registerUsu()">
    <!-- Campos del formulario -->
    <div class="d-flex flex-column justify-content-around align-items-center col-12">

      <!-- Campo de email -->
      <div class="caja-input col-11 mt-2">
        <label for="email"><i class="bi bi-envelope-at-fill"></i> Introduce tu Email </label>
        <div class="col-12 p-1">
          <input id="email" type="text" pInputText formControlName="emailUsu" class="col-12" [ngClass]="{'is-invalid': registerForm.get('emailUsu').invalid && (registerForm.get('emailUsu').dirty || registerForm.get('emailUsu').touched)}">
          <div *ngIf="registerForm.get('emailUsu').hasError('emailFound') && (registerForm.get('emailUsu').dirty || registerForm.get('emailUsu').touched)">
            <small class="text-danger">Usuario Existente</small>
          </div>
          <div *ngIf="registerForm.get('emailUsu').hasError('required') && (registerForm.get('emailUsu').dirty || registerForm.get('emailUsu').touched)">
            <small class="text-danger">Gmail requerido</small>
          </div>
          <div *ngIf="registerForm.get('emailUsu').hasError('email') && (registerForm.get('emailUsu').dirty || registerForm.get('emailUsu').touched)">
            <small class="text-danger">Gmail invalido</small>
          </div>
        </div>
      </div>

      <!-- Campo de contraseña -->
      <div class="caja-input col-11 mt-2">
        <label for="passwd-input"><i class="bi bi-shield-lock-fill"></i> Introduce tu Contraseña </label>
        <div class="col-12 p-1">
          <div class="d-flex justify-content-around">
              <input
              id="passwd-input"
              [type]="showPasswd ? 'text' : 'password'"
              pPassword
              formControlName="passwd"
              class="col-11"
              strongLabel="Contraseña Segura"
              mediumLabel="Comprueba que tu contraseña tenga 8 caracteres y caracteres especiales"
              weakLabel="Contraseña inválida: 8 caracteres y caracteres especiales"
              [ngClass]="{
                'is-invalid': registerForm.get('passwd').invalid && (registerForm.get('passwd').dirty || registerForm.get('passwd').touched)
              }"
            />
            <button type="button" (click)="showPassword()" class="btn btn-success">
              <i [class]="showPasswd ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'"></i>
            </button>
          </div>

          <div>
          <div *ngIf="registerForm.get('passwd').hasError('minlength') && (registerForm.get('passwd').dirty || registerForm.get('passwd').touched)">
            <small class="text-danger">La contraseña debe tener al menos 8 caracteres.</small>
          </div>
          <div *ngIf="registerForm.get('passwd').hasError('passwordWeak') && (registerForm.get('passwd').dirty || registerForm.get('passwd').touched)">
            <small class="text-danger">La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número y un carácter especial.</small>
          </div>
          </div>

        </div>
      </div>


      <!-- Campo de fecha nacimiento -->
      <div class="caja-input col-11 mt-2">
        <label for="calendar"><i class="bi bi-calendar"></i> Introduce tu fecha de nacimiento </label>
        <div class=" col-12 p-1">
          <p-calendar inputId="calendar" formControlName="fechaNa" styleClass="col-12" dateFormat="dd/mm/yy"></p-calendar>
          <div *ngIf="registerForm.get('fechaNa').hasError('ageInvalid') && (registerForm.get('fechaNa').dirty || registerForm.get('fechaNa').touched)">
            <small class="text-danger">Debes ser mayor de edad.</small>
          </div>
        </div>
      </div>

      <!-- Campo de nickname -->
       <div class="caja-input col-11 mt-2">
          <label for="nicknameInput"><i class="bi bi-person-fill"></i> Introduce tu nombre de Usuario </label>
          <div class=" col-12 p-1">
            <input id="nicknameInput" type="text" pInputText formControlName="nickname" class="col-12" [ngClass]="{'is-invalid': registerForm.get('nickname').invalid && (registerForm.get('nickname').dirty || registerForm.get('nickname').touched)}">
            <div *ngIf="registerForm.get('nickname').hasError('required') && (registerForm.get('nickname').dirty || registerForm.get('nickname').touched)">
              <small class="text-danger">Debes ponerte un nickname</small>
            </div>
            <div *ngIf="registerForm.get('nickname').hasError('maxlength') && (registerForm.get('nickname').dirty || registerForm.get('nickname').touched)">
              <small class="text-danger">El nickname no debe tener más de 7 caracteres</small>
            </div>
          </div>
       </div>
      <!-- Campo de foto -->
      <div class="col-11 p-1 mt-4">
        <p-fileUpload
          accept="image/*"
          [auto]="true"
          chooseLabel="Subir imagen"
          (onSelect)="onFileSelect($event)"
          name="file"
          [ngClass]="{'is-invalid': !selectedFile && (isFormSubmitted)}"
        ></p-fileUpload>
        <div *ngIf="!selectedFile && isFormSubmitted">
          <small class="text-danger">Debes seleccionar una imagen.</small>
        </div>
      </div>
    </div>
    <button class="btn btn-success m-2 col-11" type="submit">
      <i class="bi bi-box-arrow-in-right"></i> Registrarse
    </button>
    <a class="m-2 col-11 text-center" [routerLink]="['/login']" >
      Tienes cuenta Inicia Sesión <i class="bi bi-arrow-right"></i>
    </a>
  </form>
</div>
