<div class="container-fluid" *ngIf="casa" id="fondo" style="height: 80vh;">
  <h1>Opiniones de: {{casa.nombreCasa}}</h1>

    <div *ngFor="let op of listaOpinion" class="m-5">
      <p-card styleClass="col-6">
        <p-header>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-start p-3 align-items-center">
              <img [src]="rutasFotosPerfil[op.opinaEntityPK.gmail].urlImg" alt="Foto perfil de: {{op.opinaEntityPK.gmail}}" class="rounded-circle" *ngIf="rutasFotosPerfil[op.opinaEntityPK.gmail]">
              <p class="ms-5">{{op.opinaEntityPK.gmail}}</p>
            </div>

            <div class="m-3">
              <p-rating
              [ngModel]="op.puntuacion"
              [readonly]="true"
              [cancel]="false"
              [stars]="5"
              ></p-rating>
            </div>
          </div>
        </p-header>

        <p class="fs-4">Su opinión:</p>
        <p>{{op.textoOpinion}}</p>

        <p-footer>
          <p>Le doy un: <strong>{{op.puntuacion}}</strong></p>
        </p-footer>
      </p-card>
    </div>

</div>
