<div *ngIf="casa" class="container-fluid" id="fondo">
  <div class="d-flex justify-content-between align-items-center">
    <h1 id="titulo">{{ casa.nombreCasa }}</h1>

    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reportModal" [disabled]="isDisabled">
      <i class="bi bi-exclamation-triangle-fill"></i> Reportar
    </button>

    <div
      *ngIf="listaOpinionCasa"
    >
    <a (click)="goListOpinion()" class="d-flex align-items-center justify-content-end justify-content-md-end bg-white p-2 rounded m-md-0 m-2">
        <p-rating
        [ngModel]="mediaOp"
        [readonly]="true"
        [cancel]="false"
        [stars]="5"
      ></p-rating>
      <span class="ms-1 mb-1">({{ listaOpinionCasa.length }})</span>
      <span class="accesibilidad">Click aqui para ir a opiniones</span>
    </a>
    </div>
  </div>

  <div class="d-flex flex-column flex-lg-row justify-content-around bg-white rounded">
    <div class="col-lg-4 d-flex flex-column justify-content-evenly order-lg-1">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="fs-2">Precio por noche: {{ casa.precioNoche }} €</h1>
        <h1 class="fs-3">Localizado en: <a href="https://www.google.com/search?q={{ casa.municipio.municipio }}">{{ casa.municipio.municipio }} <span class="link"><i class="bi bi-box-arrow-up-right"></i></span></a></h1>
      </div>

      <div class="d-flex flex-column">
        <button class="btn btn-success m-2" [disabled]="isDisabled" (click)="goAlquilaCasa()">¡Alquilame!</button>
        <button class="btn btn-secondary m-2">Chatea con el dueño de la casa</button>
      </div>

      <div
        class="border rounded p-2 m-2 d-flex flex-column justify-content-center"
        style="background-color: #d2b48c0e"
      >
        <h1 class="fs-4">Servicios disponibles de la Casa:</h1>
        <p *ngIf="casa.jardin">
          <i class="pi pi-check" style="font-size: 1rem; color: #75b77c"></i>
          Tiene jardin
        </p>

        <p *ngIf="casa.wifi">
          <i class="pi pi-check" style="font-size: 1rem; color: #75b77c"></i>
          Tiene Wifi
        </p>
        <p *ngIf="casa.piscina">
          <i class="pi pi-check" style="font-size: 1rem; color: #75b77c"></i>
          Tiene piscina
        </p>
        <p *ngIf="casa.mascotas">
          <i class="pi pi-check" style="font-size: 1rem; color: #75b77c"></i>
          Acepta mascotas
        </p>
      </div>
    </div>

    <div class="col-12 col-lg-7" *ngIf="listaImagenes">
      <p-carousel [value]="listaImagenes" class="p-1 col-11">
        <ng-template let-imagen pTemplate="item">
          <img
            [src]="imagen.safeUrl"
            class="w-100 d-flex justify-content-center align-items-center text-center"
          />
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div class="d-flex flex-column col-12 rounded descrip">
    <h4 class="m-2">Descripción de la Casa:</h4>
    <p class="p-2">{{ casa.descripcion }}</p>
  </div>



  <app-mapa [datosLoc]="casa.municipio" class="m-2"></app-mapa>
</div>

<p-toast></p-toast>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="reportLabel">Motivo del reporte</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="reportForm" class="d-flex flex-column">
          <ul>
            <li (click)="seleccionarMotivo('Casa sospechosa de fraude')"
                [class.selected]="reportForm.get('motivo').value === 'Casa sospechosa de fraude'">
              Casa sospechosa de fraude
            </li>
            <li (click)="seleccionarMotivo('Descripción engañosa de la casa')"
                [class.selected]="reportForm.get('motivo').value === 'Descripción engañosa de la casa'">
              Descripción engañosa de la casa
            </li>
            <li (click)="seleccionarMotivo('Problemas con el anfitrión')"
                [class.selected]="reportForm.get('motivo').value === 'Problemas con el anfitrión'">
              Problemas con el anfitrión
            </li>
            <li (click)="seleccionarMotivo('Casa no disponible')"
                [class.selected]="reportForm.get('motivo').value === 'Casa no disponible'">
              Casa no disponible a la llegada
            </li>
            <li (click)="seleccionarMotivo('Precios o tarifas ocultas')"
                [class.selected]="reportForm.get('motivo').value === 'Precios o tarifas ocultas'">
              Precios o tarifas ocultas
            </li>
          </ul>

          <button class="p-button-danger m-3" pButton pRipple (click)="reportUsu()" label="Confirmar Reporte">
            <i class="bi bi-exclamation-triangle-fill"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
