.contenedor-cristalizado {
  background: rgba(255, 255, 255, 0.527); /* Fondo semi-transparente */
  backdrop-filter: blur(10px); /* Desenfoque de fondo */
  border-radius: 15px; /* Bordes redondeados para un mejor efecto */
  border: 1px solid rgba(255, 255, 255, 0.445); /* Borde ligero para resaltar */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
  color: rgb(27, 27, 27);
}

#fondo{
  background: url(../../../../assets/fondoLogin.jpg);
}

h1 {
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
  -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}
