body{
  min-width: 400px;
}

#fondo > div > form > fieldset.text-center.col-12.p-1 > p-calendar > span > div > div{
  display: flex !important;
  justify-content: space-around !important;
}

#fondo > div > form > fieldset.text-center.col-12.p-1 > p-calendar > span > div > div > div:nth-child(1){
  border: none;
}


#pr_id_1 > div > div > div > div > div.p-carousel-item.p-carousel-item-active.p-carousel-item-start.p-carousel-item-end{
  display: flex;
  justify-content: center;
  align-items: center;
}

.accesibilidad{
  position: absolute;
  left: -999999999999999px;
}

#fondo > div > p-steps > div > ul > li > a{
  background: none;
}

#fondo > div > div.ng-star-inserted > form > div.d-flex.justify-content-center > div > p-fileupload > div > div.p-fileupload-buttonbar > p-button:nth-child(2) > button{
  display: none;
}

#fondo > div > div.ng-star-inserted > form > div.d-flex.justify-content-center > div > p-fileupload > div > div.p-fileupload-buttonbar > p-button:nth-child(3) > button{
  display: none;
}

#fondo > div > p-steps > div > ul > li > a:hover{
  cursor: pointer;
}

#fondo > form > div.col-12.p-4 > p-fileupload > div > div.p-fileupload-buttonbar > p-button > button{
  display: none;
}

body > app-root > div > app-details-house > div > div.d-flex.justify-content-between > div > a > span:hover{
  cursor: pointer;
}

#fondo > section > div:nth-child(2) > app-house > div > div > div.col-12.order-2.col-md-6.order-md-1 > div > div.d-flex.flex-md-row.justify-content-between.align-items-center > div > a > span:hover{
  cursor: pointer;
}

#fondo > section > div:nth-child(1) > app-house > div > div > div.col-12.order-2.col-md-6.order-md-1 > div > div.d-flex.flex-md-row.justify-content-between.align-items-center > div > a > span{
  cursor: pointer;
}

#fondo > div > p-card > div > div.p-card-header > p-header > div > img{
  width: 60px;
  height: 60px;
}

