#fondo {
  background: url(../../../../assets/fondoLogin2.jpg);
  height: 100vh;
}

h1 {
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 6px 1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.botonTexto{
  font-size: 35px;
}

#fondo > section > button > i{
  position: absolute;
  top: 0px;
  font-size: 15px;
}
