<div class="container-fluid ">
  <h1>Buenas {{usuConn.nickname}} estas son tus casas subidas: </h1>

  <section *ngIf="casasPaginadas && casasPaginadas.length > 0" class="col-12 p-2 d-flex flex-column align-items-center p-2">
    <div *ngFor="let casa of casasPaginadas" class="col-lg-6 col-10">
      <app-house [datosCasa]="casa"></app-house>
    </div>
    <p-paginator
      [rows]="rows"
      [totalRecords]="totalRecords"
      [pageLinkSize]="3"
      (onPageChange)="onPageChange($event)">
    </p-paginator>
  </section>
</div>
