<div class="container-fluid " id="fondo">
  <section *ngIf="casasPaginadas && casasPaginadas.length > 0" class="col-12 d-flex flex-column align-items-center justify-content-around" style="height: 100vh; margin-top: 0px;" >
    <h1>Buenas {{usuConn.nickname}} estas son tus casas subidas: </h1>
    <div *ngFor="let casa of casasPaginadas" class="col-lg-6 col-10 p-3 mb-2">
      <app-house [datosCasa]="casa"></app-house>
      <button class="btn btn-warning" (click)="editarCasa(casa.idCasa)">Editar "{{casa.nombreCasa}}"</button>
    </div>
    <p-paginator
      [rows]="rows"
      [totalRecords]="totalRecords"
      [pageLinkSize]="3"
      (onPageChange)="onPageChange($event)">
    </p-paginator>
  </section>

  <section *ngIf="casasPaginadas.length == 0" class="col-12 p-2 d-flex flex-column align-items-center p-2 justify-content-around" style="height: 80vh;">
      <h1>No tienes ninguna casa subida sube ahora una: </h1>
      <button class="btn btn-success col-10 botonTexto position-relative" (click)="goUpload()" >Sube mi Casa <i class="bi bi-box-arrow-up-right"></i></button>
  </section>
</div>
