<div id="fondo">
  <h1 class="text-center p-2">¡Bienvenido a Rusticasa!</h1>

  <div class="col-12 d-flex flex-column align-items-center">
    <h2 class="text-center m-2">¡Alquila tu casa ideal ahora!</h2>

    <form [formGroup]="buscaFormu" *ngIf="buscaFormu" class="col-lg-10 formu d-flex flex-column contenedor-cristalizado ">

      <fieldset class="row row-cols-1 row-cols-lg-2 text-center col-12">
        <p-dropdown styleClass="col-10 m-2" placeholder="1º Selecciona una Provincia" (onChange)="cargaPueblos()" [options]="ListadoProvincias" formControlName="provinciasS" [filter]="true" [virtualScroll]="true" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" itemSize="30" aria-placeholder="Selecciona una provincia" ></p-dropdown>

        <p-dropdown styleClass="col-10 m-2" placeholder="2º Selecciona un pueblo" [options]="listadoPueblos" formControlName="pueblos"  [filter]="true" [virtualScroll]="true" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" itemSize="30" aria-placeholder="Selecciona un municipio" ></p-dropdown>
      </fieldset>

      <fieldset class="text-center col-12 p-1">
        <p-calendar styleClass="col-11 text-center" placeholder="Fecha entrada - Fecha Salida" formControlName="fechas" selectionMode="range" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      </fieldset>

      <p-inputNumber formControlName="nInquilinos" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"></p-inputNumber>

      <fieldset class="d-flex justify-content-center col-10">
        <button class="btn btn-success m-2 col-11" type="button" (click)="validaForm()"><i class="bi bi-binoculars"></i> Buscar</button>
      </fieldset>

    </form>
  </div>
</div>

<div class="d-flex justify-content-center p-2">
  <!--<div *ngFor="let casa of listaCasaGenerica" class="w-50 m-3">
    <-- <div class="card mb-3">
      <div class="row g-0">
        <div class="col-12 order-2 col-md-6 order-md-1">
          <div class="card-body">
            <h5 class="card-title">{{ casa.nombreCasa }}</h5>
            <p class="card-text">
              {{ casa.descripcion }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="col-12 order-1 col-md-6 order-md-2">
          <p-carousel [value]="listaImagenes[casa.idCasa]" class="p-3">
            <ng-template let-imagen pTemplate="item">
              <img [src]="imagen.safeUrl"/>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div> --
    <app-house [datosCasa]="casa"></app-house>
  </div>-->
  <aside class="col-10 d-flex justify-content-center align-items-center">
    <p class="col-6">
      RustiCasa es una página web dedicada al alquiler de casas rurales, ofreciendo a los usuarios una plataforma intuitiva para encontrar
      y reservar alojamientos en entornos naturales. La web presenta una amplia selección de propiedades en zonas rurales, con detalles sobre cada casa,
      incluyendo fotos, descripciones y servicios disponibles. Los usuarios pueden buscar por ubicación, fechas y características específicas,
      y reservar fácilmente en línea. RustiCasa está diseñada para facilitar a quienes buscan una escapada tranquila en la naturaleza, combinando comodidad y autenticidad.
    </p>
    <figcaption>
      <figure class="text-center">
        <img src="../../../../assets/LogoOficial.gif" alt="Logo de RustiCasa" class="col-6">
      </figure>
    </figcaption>
  </aside>

</div>
