<div class="d-flex flex-lg-row flex-column justify-content-around centrar">
  <div *ngFor="let casa of listaCasaGenerica" class="w-50 m-3">
    <!-- <div class="card mb-3">
      <div class="row g-0">
        <div class="col-12 order-2 col-md-6 order-md-1">
          <div class="card-body">
            <h5 class="card-title">{{ casa.nombreCasa }}</h5>
            <p class="card-text">
              {{ casa.descripcion }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="col-12 order-1 col-md-6 order-md-2">
          <p-carousel [value]="listaImagenes[casa.idCasa]" class="p-3">
            <ng-template let-imagen pTemplate="item">
              <img [src]="imagen.safeUrl"/>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div> -->
    <app-house [datosCasa]="casa"></app-house>
  </div>
</div>
