<div class="d-flex flex-column container-fluid">
  <!--<div *ngFor="let casa of listaCasaGenerica" class="w-50 m-3">
    <-- <div class="card mb-3">
      <div class="row g-0">
        <div class="col-12 order-2 col-md-6 order-md-1">
          <div class="card-body">
            <h5 class="card-title">{{ casa.nombreCasa }}</h5>
            <p class="card-text">
              {{ casa.descripcion }}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
        <div class="col-12 order-1 col-md-6 order-md-2">
          <p-carousel [value]="listaImagenes[casa.idCasa]" class="p-3">
            <ng-template let-imagen pTemplate="item">
              <img [src]="imagen.safeUrl"/>
            </ng-template>
          </p-carousel>
        </div>
      </div>
    </div> --
    <app-house [datosCasa]="casa"></app-house>
  </div>-->
  <h1 class="text-center m-2">¡Bienvenido a Rusticasa!</h1>
  <h2>¡Alquila tu casa ideal ahora!</h2>

  <form [formGroup]="buscaFormu" *ngIf="buscaFormu" (submit)="buscarCasaSimple()" class="d-flex flex-column">

    <p-dropdown  styleClass="col-6" [options]="ListadoProvincias" [formControl]="buscaFormu.controls['provinciasS']" class="m-1" [filter]="true" [virtualScroll]="true" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" itemSize="30" ></p-dropdown>


    <button class="btn btn-success m-1 col-4" type="submit"><i class="bi bi-binoculars"></i> Buscar</button>

  </form>

  <h2>{{buscaFormu.controls['provinciasS'].value}}</h2>

</div>
