<div class="container-fluid d-flex justify-content-center flex-column" id="fondo">
  <div *ngIf="!usuarioLog" class="d-flex flex-column align-items-center border border-success border-opacity-50 border-3 rounded contenedor-cristalizado p-5">
    <h1>No estás registrado</h1>
    <p>Para poder subir tu casa para que los demás puedan disfrutar de tu casa necesitas primero <a [routerLink]="['/register']">registrarte</a> o <a [routerLink]="['/login']">iniciar sesión</a></p>
    <div class="d-flex col-6 justify-content-around p-3">
      <a class="btn btn-success col-5" [routerLink]="['/register']">Registrarte</a>
      <a class="btn btn-success col-5" [routerLink]="['/login']">Iniciar sesión</a>
    </div>
  </div>

  <div *ngIf="usuarioLog" class="contenedor-cristalizado">
    <div class="text-center">
      <h1>¡Sube tu casa!</h1>
      <h1 class="fs-3">Con 3 simples pasos</h1>
    </div>

    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>

    <div *ngIf="activeIndex === 0">
      <form [formGroup]="formGroup" (ngSubmit)="nextStep()">
        <h2 class="text-center">Cuéntanos algo sobre tu casa</h2>

        <div class="d-flex flex-column align-items-center">
          <label for="nombreC" class="col-10 m-1">Nombre de la casa:</label>
          <input id="nombreC" class="col-10 m-1" pInputText formControlName="nombreCasa">
          <div class="text-danger" *ngIf="formGroup.get('nombreCasa').invalid && (formGroup.get('nombreCasa').touched || isFormSubmitted)">
            Nombre de la Casa es obligatorio
          </div>
        </div>

        <div class="d-flex flex-column align-items-center">
          <label for="descripC" class="col-10 m-1">Descripción de la Casa:</label>
          <textarea class="col-10 m-1" id="descripC" [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="descripCasa"></textarea>
        </div>

        <div class="d-flex justify-content-around p-2">
          <div class="p-field-checkbox">
            <p-checkbox name="servicio" binary="true" formControlName="sPis" inputId="pis"></p-checkbox>
            <label for="pis" class="ms-2">Piscina</label>
          </div>

          <div class="p-field-checkbox">
            <p-checkbox name="servicio" binary="true" formControlName="sMas" inputId="mas"></p-checkbox>
            <label for="mas" class="ms-2">Mascota</label>
          </div>

          <div class="p-field-checkbox">
            <p-checkbox name="servicio" binary="true" formControlName="sWif" inputId="wif"></p-checkbox>
            <label for="wif" class="ms-2">Wifi</label>
          </div>

          <div class="p-field-checkbox">
            <p-checkbox name="servicio" binary="true" formControlName="sJar" inputId="jar"></p-checkbox>
            <label for="jar" class="ms-2">Jardín</label>
          </div>
        </div>

        <div class="text-center d-flex flex-column flex-md-row align-items-center justify-content-around">
          <p-inputNumber  placeholder="Numero Inquilinos" formControlName="nInquilinos" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"></p-inputNumber>
          <p-inputNumber  placeholder="Numero Habitaciones" formControlName="nHabitaciones" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="100"></p-inputNumber>
        </div>

        <div>
          <p-inputNumber  placeholder="Precio noche en €" formControlName="precio" mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="0" [max]="10000"></p-inputNumber>
        </div>

        <div class="d-flex justify-content-center m-2">
          <button class="btn btn-success col-6" type="button" (click)="nextStep()" [disabled]="formGroup.invalid">Siguiente Paso <i class="bi bi-arrow-right"></i></button>
        </div>
      </form>
    </div>

    <div *ngIf="activeIndex === 1">
      <form [formGroup]="formLocaCasa" (ngSubmit)="nextStep()">
        <h2 class="text-center">¿Dónde se encuentra tu casa?</h2>

        <div class="d-flex flex-column text-center">
          <p-dropdown styleClass="col-10 m-2 text-center" placeholder="Selecciona Provincia" (onChange)="cargaPueblos()" [showClear]="true" [options]="ListadoProvincias" formControlName="provinciasS" [filter]="true" [virtualScroll]="true" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" itemSize="30" aria-placeholder="Selecciona una provincia"></p-dropdown>
          <div class="text-danger" *ngIf="idProv ==null && (formLocaCasa.get('provinciasS').touched || isFormSubmitted)">
            Selecciona una provincia
          </div>

          <p-dropdown styleClass="col-10 m-2 text-center" placeholder="Selecciona Municipio" [showClear]="true" [options]="listadoPueblos" formControlName="pueblos" [filter]="true" [virtualScroll]="true" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" itemSize="30" aria-placeholder="Selecciona un municipio"></p-dropdown>
          <div class="text-danger" *ngIf="listaMunicipio.length < 0 && (formLocaCasa.get('pueblos').touched || isFormSubmitted)">
            Selecciona un municpio
          </div>
        </div>

        <div class="d-flex justify-content-around m-2">
          <button class="btn botonSec col-4" type="button" (click)="previousStep()"><i class="bi bi-arrow-left"></i> Paso anterior </button>
          <button class="btn btn-success col-4" type="button" (click)="nextStep()" [disabled]="formLocaCasa.invalid">Siguiente Paso <i class="bi bi-arrow-right"></i></button>
        </div>
      </form>
    </div>

    <div *ngIf="activeIndex === 2">
      <form [formGroup]="formGroup" (ngSubmit)="submitForm()" enctype="multipart/form-data">
        <h2 class="text-center">¿Cómo se ve tu casa?</h2>
        <h2 class="fs-3 text-center">Pon algunas imagenes para ver tu casa</h2>

        <div class="d-flex justify-content-center">
          <div class="col-11 p-1 mt-4">
            <p-fileUpload
              accept="image/*"
              [auto]="false"
              chooseLabel="Subir imagen"
              multiple="multiple"
              (onSelect)="onFileSelect($event)"
              name="file"
              [ngClass]="{'is-invalid': !selectedFile && (isFormSubmitted)}"
            ></p-fileUpload>
            <div *ngIf="!selectedFile && isFormSubmitted">
              <small class="text-danger">Debes seleccionar una imagen.</small>
            </div>
          </div>
        </div>


        <div class="d-flex justify-content-around m-2">
          <button class="btn botonSec col-4" type="button" (click)="previousStep()"><i class="bi bi-arrow-left"></i> Paso anterior</button>
          <button class="btn btn-success col-4" type="submit" [disabled]="formGroup.invalid || formLocaCasa.invalid">
            <i class="bi bi-upload"></i> Subir mi Casa
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
