<footer class="container-fluid">
  <div class="row justify-content-around">
    <div class="col-5">
      <h2 class="fs-6">Síguenos en nuestras redes</h2>
      <div class="d-flex justify-content-around align-items-center">
        <a href="#"><i class="bi bi-youtube transicion"></i></a>
        <a href="#"><i class="bi bi-instagram transicion"></i></a>
        <a href="#"><i class="bi bi-envelope-at-fill transicion"></i></a>
        <a href="#"><i class="bi bi-twitter-x transicion"></i></a>
      </div>
    </div>

    <div class="col-5">
      <h2 class="fs-6">Más sobre nosotros</h2>
      <div class="d-flex flex-column justify-content-center ">
        <a href="#" class="d-flex align-items-center ">
          <i class="bi bi-person-lines-fill me-3"></i> Contacta con nosotros
        </a>

        <a href="#" class="d-flex align-items-center">
          <i class="bi bi-question-circle me-3"></i> FAQs
        </a>
      </div>
    </div>
  </div>
</footer>
