#fondo {
  background: url(../../../../assets/fondoLogin2.jpg);
}

h1 {
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 6px 1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 992px) {
  h1 {
    font-size: 50px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-shadow: 6px 1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
      -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
  }
}
