<div class="container-fluid d-flex flex-column align-items-center justify-content-between" id="fondo" [ngStyle]="{'height': casasPaginadas.length === 1 ? '80vh' : 'auto'}">
  <h1 *ngIf="casasPaginadas.length > 0">Buenas {{usuConn.nickname}} estas son las casas que has alquilado: </h1>
    <div *ngFor="let casa of casasPaginadas" class="col-lg-7 col-11 p-3 mb-2 contenedor-cristalizado" >
      <div class="d-flex justify-content-between">
        <h4>Casa alquilada del: <strong class="text-success">{{ formatDateToCET(casa.fechaEntrada) }}</strong> hasta <strong class="text-success">{{ formatDateToCET(casa.fechaSalida) }}</strong></h4>

        <button class="btn btn-info" (click)="generarPdf(casa)">
          Descargar factura (PDF) <i class="bi bi-file-earmark-pdf"></i>
        </button>
      </div>
      <app-house [datosCasa]="casa"></app-house>
      <button class="btn btn-danger" (click)="eliminarAlquiler(usuConn.gmail ,casa.idCasa,casa.fechaEntrada)">Cancelar Reserva <span class="accesibilidad">({{casa.nombreCasa}})</span> <i class="bi bi-x-circle-fill"></i></button>
    </div>

  <div *ngIf="casasPaginadas.length == 0" class="text-center d-flex flex-column justify-content-center align-items-center" style="height: 80vh;">
    <h1>Ahora mismo no has alquilado ninguna casa Busca y alquila una</h1>
    <button class="btn btn-success col-6 p-3 m-5" (click)="goBuscar()">Buscar mi Casa ¡Ahora!</button>
  </div>

  <p-paginator
  *ngIf="casasPaginadas.length > 0"
    styleClass="m-2"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [pageLinkSize]="3"
    (onPageChange)="onPageChange($event)">
  </p-paginator>
</div>
